<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
	<display-name>SandboxWebApp</display-name>
 	<filter>
    	<filter-name>Set Character Encoding</filter-name>
    	<filter-class>org.apache.catalina.filters.SetCharacterEncodingFilter</filter-class>
    	<init-param>
        	<param-name>encoding</param-name>
        	<param-value>UTF-8</param-value>
    	</init-param>
    	<init-param>
        	<param-name>ignore</param-name>
        	<param-value>false</param-value>
    	</init-param>
  	</filter>
 	<filter-mapping>
    	<filter-name>Set Character Encoding</filter-name>
    	<url-pattern>/*</url-pattern>
  	</filter-mapping>
  	<!-- 
 	<multipart-config>
  		<max-file-size>262144000</max-file-size>
  		<max-request-size>262144000</max-request-size>
  		<file-size-threshold>0</file-size-threshold>
  	</multipart-config>
  	-->
  	<listener>
  		<listener-class>
  		fr.sandboxwebapp.context.WebappContextListener
  		</listener-class>
  	</listener> 
  
  	<servlet>
  		<servlet-name>Login</servlet-name>
  		<servlet-class>fr.sandboxwebapp.servlet.LoginServlet</servlet-class>
  	</servlet>
  	<servlet-mapping>
  		<servlet-name>Login</servlet-name>
  		<url-pattern>/login</url-pattern>
  		<!-- <url-pattern>/</url-pattern> -->
  	</servlet-mapping>
  
  	<servlet>
  		<servlet-name>Sign_in</servlet-name>
  		<servlet-class>fr.sandboxwebapp.servlet.SigninServlet</servlet-class>
  	</servlet>
  	<servlet-mapping>
  		<servlet-name>Sign_in</servlet-name>
  		<url-pattern>/sign_in</url-pattern>
  	</servlet-mapping>
  
  	<servlet>
  		<servlet-name>Upload</servlet-name>
  		<servlet-class>fr.sandboxwebapp.servlet.UploadServlet</servlet-class>
  	</servlet>
  	<servlet-mapping>
  		<servlet-name>Upload</servlet-name>
  		<url-pattern>/upload</url-pattern>
  	</servlet-mapping>
  
  	<servlet>
  		<servlet-name>AudioPlayerServlet</servlet-name>
  		<servlet-class>fr.sandboxwebapp.servlet.AudioPlayerServlet</servlet-class>
  	</servlet>
  	<servlet-mapping>
  		<servlet-name>AudioPlayerServlet</servlet-name>
  		<url-pattern>/player/*</url-pattern>
  	</servlet-mapping>
  
  	<filter>
  		<filter-name>Restriction</filter-name>
  		<filter-class>fr.sandboxwebapp.filter.RestrictionFilter</filter-class>
  	</filter>
  	<filter-mapping>
  		<filter-name>Restriction</filter-name>
  		<url-pattern>/*</url-pattern>
  	</filter-mapping>
</web-app>